Source: safrm-net-fw
Section: utils
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), appver, jenkins-support-scripts (>= 1.2.4)
Standards-Version: 3.8.1
Homepage: http://safrm.net/

Package: safrm-net-fw
Architecture: all
Depends: safrm-net-fw-base, safrm-net-fw-gui, rvmb
Description: Collection of useful utilities in metapackage \
	from safrm.net

Package: safrm-net-fw-base
Architecture: all
Depends: af, appver, efind, gr-scripts, jenkins-support-scripts,  pkgcheck, rpmmake, xmlenv
Description: Subset of useful utilities in metapackage without gui \
	from safrm.net

Package: safrm-net-fw-gui
Architecture: all
Depends: easybrain, semaphored
Description: Subset of useful utilities in metapackage  with gui\
	from safrm.net

